body {
    background: url("./assets/neon-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
  
